body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(95, 94, 94);
  /* width: 100%; */
  overflow: hidden;
  height: 100vh;
}
span {
  height: 100px;
  width: 100px;
  background-image: url(https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-64.png);
  position: absolute;
  background-size: cover;
  pointer-events: none;
  /* left: 100%;
        top: 100%; */
  transform: translate(-50%, -50%);
  animation: Animate 3s linear;
}
@keyframes Animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
